@import "variables";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/bootstrap/scss/functions";
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@300;700;900&display=swap');

.profile-header {
    height: 400px;
    width: 100%;
    object-fit: cover;
}