@import "variables";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@300;700;900&display=swap');

// body {
//     max-width: 2200px;
// }

.navbar {
    color: $navbar-light-color;
}

// .bi-megaphone-fill {
//     transform: rotate(-20deg)
// }

// body {
//     background-image: url("/img/gradient-luke-chesser-3POMgLjfYv0-unsplash.jpg");
// }

h1, h3 {
    font-family: 'Exo';
    // font-weight: 900;
    color: black;
}

.login {
    background-color: white;
    border-radius: 5px;
}

.profile-header {
    height: 50%;
    width: 100%;
    object-fit: cover;
}

.avatar {
    width: 40px;
    height: 40px;
}
